@font-face {
  font-family: "element-icons"; /* Project id 3390002 */
  src: url('iconfont.woff2?t=1681523784775') format('woff2'),
       url('iconfont.woff?t=1681523784775') format('woff'),
       url('iconfont.ttf?t=1681523784775') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-duanxin:before {
  content: "\e647";
}

.el-icon-gou:before {
  content: "\e881";
}

.el-icon-customer:before {
  content: "\e618";
}

.el-icon-24gl-phoneLoudspeaker:before {
  content: "\e94f";
}

.el-icon-dibudaohanglan-:before {
  content: "\e633";
}

.el-icon-jiudian:before {
  content: "\e642";
}

.el-icon-tijiao:before {
  content: "\e75b";
}

.el-icon-shujuzidian-jianying:before {
  content: "\e705";
}

.el-icon-quanxianshezhi:before {
  content: "\e678";
}

.el-icon-zhanghaoguanli:before {
  content: "\e64f";
}

.el-icon-oA:before {
  content: "\e602";
}

.el-icon-yiyuan:before {
  content: "\e859";
}

.el-icon-quanxian:before {
  content: "\e656";
}

.el-icon-yiyuan1:before {
  content: "\e6fd";
}

.el-icon-zidianguanli:before {
  content: "\e631";
}

.el-icon-dingdanyichenggong:before {
  content: "\e899";
}

.el-icon-kehu:before {
  content: "\e623";
}

.el-icon-qianbao:before {
  content: "\e60b";
}

.el-icon-lingqukehu:before {
  content: "\e61a";
}

.el-icon-guanlikehu:before {
  content: "\e646";
}

.el-icon-navicon-grkh:before {
  content: "\e67d";
}

.el-icon-kehuguanli:before {
  content: "\e606";
}

.el-icon-quxiaoquanping:before {
  content: "\eb10";
}

.el-icon-yifu:before {
  content: "\e666";
}

.el-icon-quanping:before {
  content: "\e632";
}

.el-icon-suoping:before {
  content: "\e603";
}

.el-icon-xingxing:before {
  content: "\e60d";
}

.el-icon-jiantou:before {
  content: "\e662";
}

.el-icon-xiajiantou:before {
  content: "\e6cc";
}

.el-icon-xiangshangjiantou:before {
  content: "\e65d";
}

.el-icon-xiangyoujiantou:before {
  content: "\e65f";
}

.el-icon-weixin:before {
  content: "\e600";
}

.el-icon-rocket:before {
  content: "\e7d9";
}

.el-icon-app1:before {
  content: "\e652";
}

.el-icon-IE:before {
  content: "\e87a";
}

.el-icon-lianjie:before {
  content: "\e626";
}

