/* 权限管理页面样式 */
.hn-power-main{
  display: flex;
  height: 100%;
  background-color: #f6f6f6;
}
.hn-power-left{
  background-color: white;
  width: 200px;
  margin-right: 15px;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.hn-power-right{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  // flex: 1 1 auto;
  // min-width: 800px;
}
.hn-powerr-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hn-powerlh-item{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.hn-powerlhi-icon{
  font-size: 16px;
  color: #409EFF;
  font-weight: bold;
  cursor: pointer;
}
.hn-powerlc-item{
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  &:hover{
    background-color: #DEECF9;
  }
}
.curr-bg1{
  background-color: #DEECF9;
}
.curr-text1{
  color: #409EFF;
}
.hn-powerlci-icon{
  font-size: 16px;
  color: rgba(230, 24, 24, 0.7);
  font-weight: bold;
  margin-left: 10px;
}
.hn-powerlc-itemcurr{
  background-color: #DEECF9;
}

// .hn-powerrc-item{

// }
.hn-powerrci-parent{
  padding: 20px 5px 10px 5px;
}
.hn-powerrci-child{
  display: inline-block;
  padding: 0 5px 5px 5px;
  width: 250px;
  box-sizing: border-box;
}

.hn-mycheck-box{
  display: inline-block;
  cursor: pointer;
}
.hn-check-inp{
  margin-right: 10px;
  transform: translateY(2px);
  cursor: pointer;
}

// 字典数据页面样式
.hn-dtdict-main{
  padding: 10px 30px;
}
.hn-dict-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.hn-dtdictt-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.hn-dicts-left{
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hn-dicts-right{
  flex-shrink: 0;
}
.hn-dictsl-text{
  white-space: nowrap;
}
.hn-dictsl-inp{
  width: 300px !important;
}

// 医院用户管理页面样式
.hn-yiy-main{
  background-color: #f6f6f6;
  display: flex;
  height: 100%;
  .hn-power-left {
    box-sizing: border-box;
    padding: 15px 20px;
    width: 46%;
  }
  .hn-power-right {
    box-sizing: border-box;
    padding: 15px 20px;
    width: 52%;
  }
}
.hn-yiyml-head{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.hn-yiyml-search{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.hn-yiymls-cas,.hn-yiymls-inp {
  width: 40%;
}
.hn-yiymls-cas{
  .el-cascader{
    width: 100%;
  }
}
.hn-yiymrh-text{
  font-weight: bold;
  margin-bottom: 10px;
}
.hn-yiymrh-shbox{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .el-input{
    width: 260px;
  }
}

// 员工管理页面样式
.hn-staff-main{
  .el-input{
    width: unset;
    margin-right: 10px;
  }
  .hn-yiymrh-shbox{
    justify-content: unset;
  }
}

// 我的客户页面样式
.hn-myctomer-main{
  padding: 30px;
}
.hn-mctm-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.hn-mctmh-left,.hn-mctmh-right{
  flex-shrink: 0;
}
.hn-mcust-shbox{
  display: flex;
  margin-bottom: 20px;
  .hn-mcust-shinp{
    width: 200px;
  }
  
}
.hn-mrr10{
  margin-right: 10px;
}


.hn-mctmhl-text{
  color: #666;
  margin-left: 10px;
}
.hn-mctmhr-icon{
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}
.hn-mctm-search{
  margin-bottom: 20px;
}


// 用户管理弹窗样式
.hn-fitem-box{
  display: flex;
  justify-content: space-between;
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
  }
  input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

// 医院管理表格内容
.hn-yiymlt-name{
  color: #409EFF;
  cursor: pointer;
}

// 个人中心页面样式
.hn-user-head{
  background-color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.hn-userh-img{
  position: relative;
  margin-right: 10px;
}
.hn-userhi-icon{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F1F6;
  border-radius: 50%;
  position: absolute;
  right: 7px;
  bottom: 7px;
}
.el-icon-camera{
  color: #409EFF;
}
// .hn-userh-info{

// }
.hn-userhi-name{
  color: #333;
  font-weight: bold;
  font-size: 16px;
}
.hn-userhi-tip{
  color: #666;
  font-size: 12px;
}

.hn-user-info{
  padding: 30px;
  background-color: white;
}
.hn-userhi-edit{
  font-size: 14px;
  color: #409EFF;
  margin-left: 10px;
  cursor: pointer;
}
.hn-useri-tr{
  font-size: 14px;
  margin-top: 20px;
}

// 客户详情样式
.hn-custm-warp{
  padding-top: 10px;
}
.hn-cusinfo-main{
  display: flex;
  background-color: #f6f6f6;
  height: 100%;
}

.hn-custiml-telhis{
  padding: 20px;
  background-color: white;
  min-height: 400px;
  margin-bottom: 10px;
}
.hn-gjlog-list{
  max-height: 480px;
  overflow-y: auto;
}
.hn-custimlt-head{
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px;
}
.hn-custimlth-text{
  margin-left: 10px;
}
.hn-custimlt-item{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  &:last-of-type{
    border-bottom: none;
  }
}
.hn-custimlti-left{
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 50%;
  float: left;
}
.hn-custimlti-right{
  margin-left: 25px;
  margin-top: -2px;
}
.hn-custimltir-time{
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}
.hn-custimltir-user{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.hn-custimltiru-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.hn-custimltir-info{
  word-wrap: break-word;
}
.hn-custiml-movecut{
  padding: 20px;
  background-color: white;
}

.hn-custim-left {
  width: 30%;
  margin-right: 10px;
}

.hn-custim-center {
  width: 32%;
  margin-right: 10px;
}

.hn-custim-right {
  width: 36%;
}


.hn-custimc-top{
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}
.hn-custimcm-head{
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.hn-custimcmh-left{
  white-space: nowrap;
}
.hn-custimcmt-inp{
  margin-bottom: 10px;
}
.hn-custimc-center{
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}
.hn-custimcc-th{
  margin-bottom: 10px;
  color: #333;
}
.hn-custimcct-text{
  margin-bottom: 5px;
}
.el-icon-dibudaohanglan-{
  font-size: 20px;
  cursor: pointer;
}
.hn-custimc-bottom{
  background-color: white;
  padding: 20px;
}

.hn-custimr-main{
  background-color: white;
  padding: 20px;
}

.hn-custm-warp .hn-custmw-inp{
  width: 220px;
}

// 接单中心样式
.hn-jiedanzx-main{
  background-color: #f6f6f6;
  height: 100%;
  // overflow: hidden;
}
.hn-jdzxm-head{
  background-color: white;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}
.hn-jdzxmh-left{
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.hn-jdzxmhl-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.hn-jdzxmhlt-name{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.hn-jdzxmhlt-time{
  font-size: 12px;
  color: #999;
}
.hn-jdzxmh-center{
  flex-shrink: 0;
}
.hn-jdzxmh-right{
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.hn-jdzxmhr-item{
  text-align: center;
}
.hn-jdzxmhr-line{
  height: 30px;
  margin: 0 20px;
  border: 1px solid #e6e6e6;
}
.hn-jdzxmhri-text{
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
}
.hn-jdzxmhri-num{
  font-size: 18px;
  font-weight: bold;
}

.hn-jdzxm-dcont{
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}
.hn-jdzxmd-item{
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hn-jdzxmdi-left{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  font-size: 30px;
  padding: 0px 15px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  flex-shrink: 0;
}
.jdzxmdil-bg1{
  background-color: #32B38C;
}
.jdzxmdil-bg2{
  background-color: #37A2F1;
}
.jdzxmdil-bg3{
  background-color: #7639C6;
}
.jdzxmdil-bg4{
  background-color: #E54859;
}
.hn-jdzxmdi-right{
  padding: 0px 60px;
  height: 54px;
  color: #666;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.hn-jdzxmdir-num{
  font-size: 18px;
}
.hn-jdzxmdir-text{
  font-size: 12px;
}
.hn-jdzxm-mwrap{
 display: flex; 
}

.hn-jdzxmm-left{
  width: 30%;
  margin-right: 10px;
}
.hn-jdzxmm-center{
  margin-right: 10px;
  width: 40%;
}
.hn-jdzxmm-right{
  width: 28%;
}

.hn-custimlth-text2{
  font-size: 12px;
  color: #999;
}

// 医院派单
.hn-yypd-search{
  display: flex;
  margin-bottom: 10px;
}
.hn-mrb20{
  margin-bottom: 20px;
}

// 成单管理样式
.hn-cdadmin-shbox{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hn-cdadmin-item{
  margin-right: 10px;
  padding: 5px 0;
  flex-shrink: 0;
}