/* 权限管理页面样式 */
.hn-power-main{
  display: flex;
  height: 100%;
  background-color: #f6f6f6;
}
.hn-power-left{
  background-color: white;
  width: 200px;
  margin-right: 15px;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  flex: 0 0 auto;
}
.hn-power-right{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  flex: 1 1 auto;
  min-width: 800px;
}
.hn-powerr-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hn-powerlh-item{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.hn-powerlhi-icon{
  font-size: 16px;
  color: #409EFF;
  font-weight: bold;
  cursor: pointer;
}
.hn-powerlc-item{
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  &:hover{
    background-color: #DEECF9;
  }
}
.curr-bg1{
  background-color: #DEECF9;
}
.curr-text1{
  color: #409EFF;
}
.hn-powerlci-icon{
  font-size: 16px;
  color: rgba(230, 24, 24, 0.7);
  font-weight: bold;
  margin-left: 10px;
}
.hn-powerlc-itemcurr{
  background-color: #DEECF9;
}

// .hn-powerrc-item{

// }
.hn-powerrci-parent{
  padding: 20px 5px 10px 5px;
}
.hn-powerrci-child{
  display: inline-block;
  padding: 0 5px 5px 5px;
  width: 250px;
  box-sizing: border-box;
}

.hn-mycheck-box{
  display: inline-block;
  cursor: pointer;
}
.hn-check-inp{
  margin-right: 10px;
  transform: translateY(2px);
  cursor: pointer;
}

// 字典数据页面样式
.hn-dtdict-main{
  padding: 10px 30px;
}
.hn-dict-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.hn-dtdictt-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.hn-dicts-left{
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hn-dicts-right{
  flex-shrink: 0;
}
.hn-dictsl-text{
  white-space: nowrap;
}
.hn-dictsl-inp{
  width: 300px !important;
}

// 医院用户管理页面样式
.hn-yiy-main{
  background-color: #f6f6f6;
  display: flex;
  height: 100%;
  .hn-power-left {
    width: 600px;
    box-sizing: border-box;
    padding: 15px 20px;
  }
  .hn-power-right {
    box-sizing: border-box;
    padding: 15px 20px;
  }
}
.hn-yiyml-head{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.hn-yiyml-search{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.hn-yiymls-cas,.hn-yiymls-inp {
  width: 40%;
}
.hn-yiymls-cas{
  .el-cascader{
    width: 100%;
  }
}
.hn-yiymrh-text{
  font-weight: bold;
  margin-bottom: 10px;
}
.hn-yiymrh-shbox{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .el-input{
    width: 260px;
  }
}

// 员工管理页面样式
.hn-staff-main{
  .el-input{
    width: unset;
    margin-right: 20px;
  }
  .hn-yiymrh-shbox{
    justify-content: unset;
  }
}

// 我的客户页面样式
.hn-myctomer-main{
  padding: 30px;
}
.hn-mctm-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hn-mctmh-left,.hn-mctmh-right{
  flex-shrink: 0;
}
.hn-mctmhl-text{
  color: #666;
  margin-left: 10px;
}
.hn-mctmhr-icon{
  margin-left: 10px;
}

// 用户管理弹窗样式
.hn-fitem-box{
  display: flex;
  justify-content: space-between;
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
  }
  input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

// 医院管理表格内容
.hn-yiymlt-name{
  color: #409EFF;
  cursor: pointer;
}

// 个人中心页面样式
.hn-user-head{
  background-color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.hn-userh-img{
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}
.hn-userhi-icon{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F1F6;
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.el-icon-camera{
  color: #409EFF;
}
// .hn-userh-info{

// }
.hn-userhi-name{
  color: #333;
  font-weight: bold;
}
.hn-userhi-tip{
  color: #666;
  font-size: 12px;
}

.hn-user-info{
  padding: 30px;
  background-color: white;
}
.hn-userhi-edit{
  font-size: 12px;
  color: #409EFF;
  margin-left: 20px;
}
.hn-useri-tr{
  font-size: 12px;
  margin-top: 30px;
}

// 客户详情样式
.hn-custim-left{
  width: 460px;
  background-color: white;
}
.hn-custiml-telhis{
  padding: 20px;
}
.hn-custimlt-head{
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.hn-custimlth-text{
  margin-left: 20px;
}
.hn-custimlt-item{
  padding-top: 20px;
}
.hn-custimlti-left{
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 50%;
  float: left;
}
.hn-custimlti-right{
  margin-left: 30px;
}
.hn-custimltir-time{
  font-size: 12px;
  color: #666;
}
.hn-custimltir-user{
  font-size: 12px;
  color: #666;
}
.hn-custimltiru-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.hn-custimltir-info{
  word-wrap: break-word;
}

.hn-custiml-movecut{
  padding: 20px;
}


.hn-custim-center{
  width: calc(100% - 920px);
  background-color: white;
}
.hn-custim-right{
  width: 460px;
  background-color: white;
}